:host {
  width: 100%;
  height: 100%;

  .container {
    min-width: 390px;
    padding: 10px;


    mat-form-field {
      width: 100%;
    }

    .example-section {
      margin: 12px 0;
    }
  }
}
